<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoSuite" verbose="1" thread-count="3" parallel="tests" configfailurepolicy="continue" >
    <!-- <listeners>
        <listener class-name="com.cucumber.testng.examples.TestNGExecutionListener"></listener>
    </listeners> -->
    <!-- <test name="Cucumber demo" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.bdd.testng.runner.DemoRunner"/>
        </classes>
    </test> -->
    <test name="Emp test1" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.bdd.testng.runner.EmpRunner"/>
        </classes>
    </test>
    <test name="Emp test2" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.bdd.testng.runner.EmpRunner"/>
        </classes>
    </test>
    <test name="Emp test3" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.bdd.testng.runner.EmpRunner"/>
        </classes>
    </test>
    <test name="Emp test4" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.bdd.testng.runner.EmpRunner"/>
        </classes>
    </test>
</suite>